.diff-table {
    font-family: monospace;
    background: #FFFFFF;
    font-size: 0.8125rem;
    border-collapse: collapse;
  }
  .side-content-header {
    width: 50%;
  }
  .diff-row {
    outline: 0;
  }
  .diff-line-number {
    color: #999;
    padding: 0 8px 0 5px;
    text-align: right;
    vertical-align: top;
  }
  .diff-line-number:before {
    content: attr(data-content);
  }
  .diff-line {
    white-space: pre-wrap;
    word-break: break-all;
    overflow-wrap: break-word;
    line-height: 1rem;
    padding-right: 20px;
  }
  .diff-line-inserted {
    background: #c8f0da;
  }
  .diff-line-removed {
    background: #ffcbbd;
  }
  .diff-line-empty {
    background: #EAEEF0;
  }
  .diff-line-modified.diff-line-with-inserts {
    background: #c8f0da;
  }
  .diff-line-modified.diff-line-with-removes {
    background: #ffcbbd;
  }
  .diff-chunk-inserted {
    background: #8ee0b6;
  }
  .diff-chunk-removed {
    background: #ff957e;
  }